* {
  box-sizing: border-box;
  margin: 0%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Style for the footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

button {
  width: 150px;
  background-color: #878787;
  height: 40px;
  font-size: 1.1rem;
  align-content: center;
  font-weight: 700;
  font-family: initial;
  border-radius: 8px;
  color: #ffffff;
}

.title {
  padding: 35px;
  text-align: justify;
  margin: 0px;
  display: block;
}

button :hover {
  width: 150px;
  background-color: #dddddd;
  height: 40px;
  font-size: 1.1rem;
  align-content: center;
  font-weight: 700;
  font-family: initial;
  border-radius: 8px;
  color: #333;
}

body {
  width: 100%;
  padding: 0%;
  margin: 0%;
}

.container {
  width: 100%;
  overflow: hidden;
  background-color: #f1f1f1;
}

.about {
  padding: 25px;
  text-align: center;
  font-size: medium;
  text-align: justify;
}

.flex {
  display: flex;
}

.about img {
  width: 100%;
  max-height: 450px;
}

#about {
  background-color: #f0f8ff;
}

#about img {
  width: 100%;
}
.services {
  padding: 25px;
  text-align: center;
  font-size: medium;
  display: flex;
}

/* .services div {
  padding: 20px;
} */

/* div {
  display: flex;
} */

.services-box {
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
}

.about-box {
  padding: 20px;
  text-align: justify;
  justify-content: space-evenly;
  flex-grow: 1;
  display: flex;
  width: 50%;
}

.contact {
  padding: 25px;
  text-align: center;
  font-size: medium;
}

/* .contact div {
  display: inline-block;
  margin: 2%;
  padding: 20px;
  width: 50%;
  background-color: #c5c5c5;
  box-shadow: 5px 5px 16px 5px #7e7e7e;
} */

form label {
  font-size: 1.2rem;
  font-weight: 600;
  color: #7b7b7b;
}

form input {
  display: inline-flex;
  width: 80%;
  height: 40px;
  font-size: 1.2rem;
  background-color: #e1e1e1;
  margin: 2%;
  padding: 15px;
  border: none;
}

form textarea {
  height: auto;
  width: 80%;
  font-size: 1.2rem;
  background-color: #e1e1e1;
  margin: 2%;
  padding: 15px;
  border: none;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  box-shadow: 0px 0px 16px 0px gray;
}

.form-control div {
  display: inline;
  box-shadow: none;
}

form button {
  padding: 5px;
  height: 50px;
  background-color: #009300;
  border: none;
  text-transform: capitalize;
  width: 50%;
}

h2 {
  font-size: 2.25em;
  text-align: center;
  padding: inherit;
}

/* Style for the navigation menu */
nav {
  background-color: #343434;
  display: flex;
  font: 1em sans-serif;
}

ul {
  list-style-type: none;
  margin: 2%;
  padding: 0;
}

li {
  display: inline;
  margin-right: 20px; /* Adjust as needed */
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: lightgray;
}

.logo {
  margin-left: 3%;
}

section {
  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 50px;
  margin: 0%;
}

#home img {
  width: 100%;
  max-height: 560px;
}

figure {
  width: 33%;
  padding: 10px;
}

figure img {
  width: -webkit-fill-available;
  overflow: hidden;
  border-radius: 0.5em;
  border: 5px solid rgba(255, 255, 255, 0.05);
}

figure img:hover {
  height: 300px;
  width: 425px;

  transform: scale(
    1.25
  ); /* 150% zoom (Note: if the zoom is too large, it will go outside of the viewport) */
  transition: transform 1.5s, filter 1.5s ease-in-out;
}

figcaption {
  font-size: 1rem;
  font-weight: 800;
  padding: 15px;
  margin-top: 5%;
}

figcaption:hover {
  font-size: 1.25rem;
  font-weight: 800;
  padding: 15px;
  color: #ffffff;
  background-color: #7c7c7c;
  text-transform: capitalize;
}

figure p {
  text-align: justify;
  margin-top: 3%;
}
